* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  font-size: 1em;
  font-family: helvetica, arial, sans-serif;
  color: #333;
  background: #fff;
  line-height: 1.2;
}

h1, h2, h3, h4 {
  color: #2E496E;
}

h1 {
  margin: 0 0 0.5em;
  font-size: 2em;
}

h2 {
  margin: 2em 0 1em;
  font-size: 1.5em;
}

p {
  margin: 0 0 1.5em;
  line-height: 1.5;
}

ul {
  margin: 1em 0 2em;
}

li {
  margin: 0 0 .3em;
  line-height: 1.3;
}

code {
  font-family: consolas, monospace;
  color: green;
  font-size: 1em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead tr {
  position: sticky; top: 0;
  box-shadow: 0 3px 2px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 3px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 3px 2px 0px rgba(0,0,0,0.75);
}

th,
td {
  padding: .5em;
  border: 1px solid #999;
  text-align: left;
  vertical-align: top;
  color: #000;
  background: #fff;
}

.container-wide {
  max-width: 40em;
  margin: 0;
}

.table-container {
  max-width: 1100px;
  overflow-y: auto;
}

.table-container::-webkit-scrollbar
{
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}

.table-container::-webkit-scrollbar-thumb
{
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, .3);
}

.deprecated {
  background: pink;
}

.none,
.flow,
.phrasing,
.palpable,
.metadata,
.sectioning,
.embedded,
.interactive,
.script,
.heading {
  background: #dfdfdf;
}

.highlight {
  display: block;
  font-size: .8em;
  padding: .5em 0 0;
}

.final {
  background: lightblue;
}

.sm {
  font-size: .7em;
}

.na {
  background: #efefef;
  color: #ccc;
}

tr:hover {
  outline: 5px solid red;
}

tr:hover td {
  background: #000;
  color: #fff;
}

tr:hover td.na {
  background: #efefef;
  color: #ccc;
}

tr:hover td code {
  color: #fff;
}

